C 0 0 "VDD1" 0 0 0 0 60 0 L
X "PIN_TEXT" "VDD1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GND1_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GND1_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "MCLK" 0 -200 0 0 60 0 L
X "PIN_TEXT" "MCLK" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "MO" 0 -300 0 0 60 0 L
X "PIN_TEXT" "MO" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "MI" 0 -400 0 0 60 0 L
X "PIN_TEXT" "MI" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "MSS*" 0 -500 0 0 60 0 L
X "PIN_TEXT" "MSS*" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "VIA" 0 -600 0 0 60 0 L
X "PIN_TEXT" "VIA" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VOB" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VOB" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "DCLK" 0 -800 0 0 60 0 L
X "PIN_TEXT" "DCLK" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "GND1_2" 0 -900 0 0 60 0 L
X "PIN_TEXT" "GND1_2" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 1300 0 "VDD2" 1300 0 0 0 60 0 R
X "PIN_TEXT" "VDD2" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "GND2_2" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "GND2_2" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "SCLK" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "SCLK" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "SI" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "SI" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "SO" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "SO" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
C 1300 -500 "SSS*" 1300 -500 0 0 60 0 R
X "PIN_TEXT" "SSS*" 1070 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -500 1300 -500 -1 0
C 1300 -600 "VOA" 1300 -600 0 0 60 0 R
X "PIN_TEXT" "VOA" 1070 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -600 1300 -600 -1 0
C 1300 -700 "VIB" 1300 -700 0 0 60 0 R
X "PIN_TEXT" "VIB" 1070 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -700 1300 -700 -1 0
C 1300 -800 "NIC" 1300 -800 0 0 60 0 R
X "PIN_TEXT" "NIC" 1070 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -800 1300 -800 -1 0
C 1300 -900 "GND2_1" 1300 -900 0 0 60 0 R
X "PIN_TEXT" "GND2_1" 1070 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -900 1300 -900 -1 0
L 200 100 1100 100 -1 0
L 1100 -1000 1100 100 -1 0
L 1100 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

