#!/bin/bash

if [ ! -z ${SET_FUSES+x} ]; then
    FUSE_OP=w
else
    FUSE_OP=v
fi

_LFUSE=${LFUSE:=0x65}
_HFUSE=${HFUSE:=0xD8}
_EFUSE=${EFUSE:=0xFF}

if [ ! -z ${DEBUG+x} ]; then
    printf "FUSE_OP: ${FUSE_OP}\\n"
    printf "  LFUSE: ${_LFUSE}\\n"
    printf "  HFUSE: ${_HFUSE}\\n"
    printf "  EFUSE: ${_EFUSE}\\n"
fi

avrdude -v -P usb -p {part} \
        -C {config} \
        -U lfuse:${FUSE_OP}:${_LFUSE}:m \
        -U hfuse:${FUSE_OP}:${_HFUSE}:m \
        -U efuse:${FUSE_OP}:${_EFUSE}:m \
        -U lock:w:0xCF:m \
        -U eeprom:w:{eeprom}:i \
        -U flash:w:{btldr}:i \
        -U lock:w:0xFF:i \
        -U flash:w:{binary}:r \
        $@
