try-import %workspace%/user.bazelrc

build --incompatible_enable_cc_toolchain_resolution
build --incompatible_use_cc_configure_from_rules_cc

build --workspace_status_command=scripts/workspace_status.sh

# AVR target
build:m16m1-avr --platforms=//bazel/platforms:atmega16m1_avr
build:16m1 --config=m16m1-avr

build:m328p-avr --platforms=//bazel/platforms:atmega328p_avr
build:328p --config=m328p-avr

build:64m1-avr --platforms=//bazel/platforms:atmega64m1_avr
build:64m1 --config=64m1-avr

#STM32 target
build:stm32 --platforms=//bazel/platforms:stm32f103_arm

# Test target
build:avr-test-sim --platforms=//bazel/platforms:avr_test_sim

build:hitl-firmware-test --platforms=//bazel/platforms:hitl_firmware_test

build:hackerboard --platforms=//bazel/platforms:hackerboard

# Host target
build:linux-x86_64 --platforms=//bazel/platforms:linux-x86_64

# Host docker KiBot
build:docker-kicad --strategy=kibot=docker
build:docker-kicad --define=EXECUTOR=remote
build:docker-kicad --experimental_docker_verbose
build:docker-kicad --experimental_enable_docker_sandbox
build:docker-kicad --incompatible_strict_action_env=true
build:docker-kicad --experimental_docker_image=setsoft/kicad_auto:ki7

# Because I can never remember the order...
build:kicad-docker --config=docker-kicad
