# General
.DS_Store
/bazel-*
/build/

# User-specific .bazelrc
user.bazelrc

.*.swp
*~
*.bak
*.ignore

# Python
__pycache__/
*.egg-info/
*.egg
*.python-version

# iykyk
.~lock.DashBoard_Changes.odt\#

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-backups/

# Netlist files
*.net

# C files
*.elf
*.bin
*.eep
*.hex

external
!/vehicle/mkv/hardware/service_section/interface/external/
compile_commands.json

# libaries handled by symbol converter tool
oem.kicad_sym

# Fab files

fab/
*.csv
*.xml