C 0 0 "DVDD" 0 0 0 0 60 0 L
X "PIN_TEXT" "DVDD" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "DGND" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DGND" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "CLK" 0 -200 0 0 60 0 L
X "PIN_TEXT" "CLK" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "RESET*" 0 -300 0 0 60 0 L
X "PIN_TEXT" "RESET*" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "REFP" 0 -400 0 0 60 0 L
X "PIN_TEXT" "REFP" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "REFN" 0 -500 0 0 60 0 L
X "PIN_TEXT" "REFN" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "AINP" 0 -600 0 0 60 0 L
X "PIN_TEXT" "AINP" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "AINN" 0 -700 0 0 60 0 L
X "PIN_TEXT" "AINN" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 1500 0 "SCLK" 1500 0 0 0 60 0 R
X "PIN_TEXT" "SCLK" 1270 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 0 1500 0 -1 0
C 1500 -100 "DIN" 1500 -100 0 0 60 0 R
X "PIN_TEXT" "DIN" 1270 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -100 1500 -100 -1 0
C 1500 -200 "DOUT/DRDY*" 1500 -200 0 0 60 0 R
X "PIN_TEXT" "DOUT/DRDY*" 1270 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -200 1500 -200 -1 0
C 1500 -300 "DRDY*" 1500 -300 0 0 60 0 R
X "PIN_TEXT" "DRDY*" 1270 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -300 1500 -300 -1 0
C 1500 -400 "CS*" 1500 -400 0 0 60 0 R
X "PIN_TEXT" "CS*" 1270 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -400 1500 -400 -1 0
C 1500 -500 "START" 1500 -500 0 0 60 0 R
X "PIN_TEXT" "START" 1270 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -500 1500 -500 -1 0
C 1500 -600 "AVDD" 1500 -600 0 0 60 0 R
X "PIN_TEXT" "AVDD" 1270 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -600 1500 -600 -1 0
C 1500 -700 "AVSS" 1500 -700 0 0 60 0 R
X "PIN_TEXT" "AVSS" 1270 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1300 -700 1500 -700 -1 0
L 200 100 1300 100 -1 0
L 1300 -800 1300 100 -1 0
L 1300 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 1350 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

