#pragma once
#include <stdint.h>

#include "libs/can/api.h"
#include "can_tools.h"

/*
 * Enums
 */
{% for enum in choices %}
enum {{ enum["name"] }}_e { {% for choice in enum["values"] %}
    {{ enum["name"]|upper }}_{{ choice|upper }},{% endfor %}
};
{% endfor %}

/*
 * Initialize the {{ node.name }} CAN peripheral
 */
void can_init_{{ node.name }}(void);

{% for message in tx_messages %}
extern uint8_t {{ message.name|lower }}_data[];
extern can_frame_t {{ message.name|lower }}_msg;
extern volatile struct can_tools_{{ message.name|lower }}_t {{ message.name|lower }};

/*
 * Send the {{ message.name|lower }} message
 *
 * First it takes the data struct `{{ message.name|lower }}_t` and packs it into an
 * array of bytes in {{ message.name|lower }}_data, which is a part of the
 * can_frame_t. Then the can_frame_t is sent.
 */
void can_send_{{ message.name|lower }}(void);

{% endfor %}

{% for message in rx_messages %}
extern uint8_t {{ message.name|lower }}_data[];
extern can_frame_t {{ message.name|lower }}_msg;
extern struct can_tools_{{ message.name|lower }}_t {{ message.name|lower }};

int can_receive_{{ message.name|lower }}(void);
int can_poll_receive_{{ message.name|lower }}(void);

{% endfor %}
