#include "libs/tunables/api.h"
#include "vehicle/mkv/software/{{ name }}/tunables_{{ name }}_tunables.h"

const size_t NUM_TUNABLES = {{t_params | length}}; 
struct {{ name }}_tunables tunables = { 0 }; 


