#include vehicle/mkvi/software/{{ name }}/tunables.h

size_t NUM_TUNABLES = {{t_params | length}}; 

struct {{ name }}_tunables {
    {% for parameter in t_params %}
        {{parameter}};
    {% endfor %}

} tunables;