#include "{{ header_file }}"

#include <stdint.h>

size_t NUM_TUNABLES = {{num_tunables}}; 

struct __attribute__((__packed__)) tunables {
    {% for parameter in t_params %}
        {{parameter}};


    {% endfor %}

} tunables;