name: ci

on: 
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache bazel
      uses: actions/cache@v2
      env:
        cache-name: cache-bazel
      with:
        path: ~/.cache/bazel
        key: bazel

    # Speed things up a bit
    - name: Disable initramfs update
      run: sudo sed -i 's/yes/no/g' /etc/initramfs-tools/update-initramfs.conf
    - name: Disable man-db update
      run: sudo rm -f /var/lib/man-db/auto-update

    - name: Install gcc-avr
      run: sudo apt install gcc-avr avr-libc binutils-avr

    - name: Build all host
      run: bazelisk build -c opt --build_tag_filters="-kicad" //...
    - name: Build all ATMega16m1
      run: bazelisk build --config=m16m1-avr --build_tag_filters="-kicad" -c opt //...
    - name: Build all ATMega328p
      run: bazelisk build --config=m328p-avr --build_tag_filters="-kicad" -c opt //...

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Speed things up a bit
    - name: Disable initramfs update
      run: sudo sed -i 's/yes/no/g' /etc/initramfs-tools/update-initramfs.conf
    - name: Disable man-db update
      run: sudo rm -f /var/lib/man-db/auto-update

    - name: Install gcc-avr
      run: sudo apt install gcc-avr avr-libc binutils-avr

    - name: Run all tests
<<<<<<< HEAD
      run: bazelisk test --build_tag_filters="-kicad" --test_output=all //...
=======
      run: bazelisk test --build_tag_filters="-kicad" //...
>>>>>>> ed6b704... Add KiCad automation (#43)
